chromadb==0.5.23
deepeval==2.0.9
fastapi==0.115.6
anthropic==0.40.0
ipykernel==6.29.5
jupyter_client==8.6.3
langchain==0.3.30
langchain-community==0.3.31
langchain-core==0.3.86
langchain-openai==0.2.14
langchain-text-splitters==0.3.11
langgraph==0.2.55
langsmith==0.9.6
numpy==1.26.4
openai==1.109.1
polars==1.17.1
pydantic==2.10.3
pytest==9.1.1
python-dotenv==1.0.1
python-multipart==0.0.20
requests==2.34.2
scipy==1.13.1
streamlit==1.40.2
typing_extensions==4.15.0
uvicorn==0.32.1
